<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="log_dir" value="C:\FileMonitoringServiceLogs" />
        <add key="log_file" value="FileMonitoringService.log" />
        <add key="monitor_dir" value="C:\MonitorDirectory" />
        <add key="destination_dir" value="C:\DestinationDirectory" />
        <add key="filter" value="*.*" />
        <add key="include_sub_dirs" value="false" />
        <add key="notify_renames" value="true" />
        <add key="notify_changes" value="true" />
        <add key="notify_creations" value="true" />
        <add key="notify_deletions" value="true" />
	</appSettings>
</configuration>